<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900 text-lg">Devices</h1>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="relative min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-0">Serial Number</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">QR1</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">QR2</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">P. Group</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">P. Line</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">HW Revision</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">PCB Version</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Created At</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Updated At</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">MAC Addresses</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @devices.each do |d| %>
            <tr class="align-top">
              <td class="py-4 text-sm whitespace-nowrap text-gray-600 font-semibold"><%= d.serial_number %></td>
              <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500"><%= d.qr1 %></td>
              <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500"><%= d.qr2 %></td>
              <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                <div class="flex gap-x-3">
                  <div class="rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 outline-1 outline-gray-200">
                    <%= d.product_group %>
                  </div>
                </div>
              </td>
              <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                <div class="flex gap-x-3">
                  <div class="rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 outline-1 outline-gray-200">
                    <%= d.product_line %>
                  </div>
                </div>
              <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                <div class="flex gap-x-3">
                  <div class="rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 outline-1 outline-gray-200">
                    <%= d.hardware_revision %>
                  </div>
                </div>
              </td>
              <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                <div class="flex gap-x-3">
                  <div class="rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 outline-1 outline-gray-200">
                    <%= d.pcb_version %>
                  </div>
                </div>
              </td>
              <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500"><%= d.created_at %></td>
              <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500"><%= d.updated_at %></td>
              <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
                <% d.macs.each do |mac| %>
                  <div>
                  <%= mac.addr_hex %>
                  </div>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>